* {
  font-family: Menlo, Arial, sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  background-color: darkgrey; }

#brainfuck_outer_container {
  margin-top: 300px; }
  #brainfuck_outer_container #brainfuck_io_outer_container {
    width: 760px;
    margin: 12px auto;
    padding-left: 2px;
    padding-right: 2px; }
    #brainfuck_outer_container #brainfuck_io_outer_container #brainfuck_program_input {
      margin-bottom: 10px;
      height: 44px; }
      #brainfuck_outer_container #brainfuck_io_outer_container #brainfuck_program_input.running #brainfuck_run {
        background-color: #1E74FF;
        cursor: default; }
      #brainfuck_outer_container #brainfuck_io_outer_container #brainfuck_program_input textarea {
        width: 94%;
        resize: none;
        height: 100%;
        border: 2px solid black; }
      #brainfuck_outer_container #brainfuck_io_outer_container #brainfuck_program_input #brainfuck_run {
        background-color: #1495FF;
        border: 2px solid black;
        height: 100%;
        width: 5%;
        float: right;
        position: relative;
        cursor: pointer; }
        #brainfuck_outer_container #brainfuck_io_outer_container #brainfuck_program_input #brainfuck_run div {
          width: 0;
          height: 0;
          border-top: 10px solid transparent;
          border-bottom: 10px solid transparent;
          border-left: 14px solid #FFFFFF;
          position: absolute;
          left: 50%;
          top: 50%;
          margin-top: -10px;
          margin-left: -6px; }
    #brainfuck_outer_container #brainfuck_io_outer_container #output,
    #brainfuck_outer_container #brainfuck_io_outer_container #input {
      height: 40px;
      border: 2px solid black;
      margin-bottom: 10px; }
    #brainfuck_outer_container #brainfuck_io_outer_container input {
      height: 100%;
      width: 100%;
      padding: 4px;
      font-size: 18px;
      border: none; }
  #brainfuck_outer_container #brainfuck_container {
    width: 760px;
    margin: 0 auto; }
    #brainfuck_outer_container #brainfuck_container .data_cell {
      float: left;
      margin: 2px;
      border: 2px solid black;
      position: relative; }
      #brainfuck_outer_container #brainfuck_container .data_cell span {
        position: absolute;
        font-size: 8px;
        top: 1px;
        left: 1px; }
      #brainfuck_outer_container #brainfuck_container .data_cell div {
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center; }
        #brainfuck_outer_container #brainfuck_container .data_cell div.value {
          border-bottom: 2px solid black;
          padding-top: 5px;
          line-height: 25px; }
      #brainfuck_outer_container #brainfuck_container .data_cell.pointed {
        color: white;
        border-color: red; }
        #brainfuck_outer_container #brainfuck_container .data_cell.pointed .value {
          border-color: red; }
    #brainfuck_outer_container #brainfuck_container:before {
      content: "";
      display: table; }
    #brainfuck_outer_container #brainfuck_container:after {
      content: "";
      display: table;
      clear: both; }

/*# sourceMappingURL=brainfuck.css.map */
